.container
    max-width: 1194px
    margin: 0 auto
.button
    display: inline-block
    border-radius: 25px
    font-size: 14px
    line-height: 23px
    text-decoration: none
    padding: 12px 50px
    cursor: pointer
    &--primary
        background-color: $orange-color
        color: $white-color
    &--default
        background-color: $white-color
        color: $black-color
    &--outline
        background-color: $white-color
        color: $orange-color
        padding: 15px 25px
        border: 2px solid $orange-color
        border-radius: 33px
        font-weight: 500
        font-size: 16px
        line-height: 19px
    &--center
        display: block
        margin: auto
        margin-top: 60px
        width: 315px
.section
    &-title
        font-weight: 500
        font-size: 32px
        line-height: 23px
    &--gray
        background-color: $section-grey-color
